<%= stylesheet_link_tag 'session' %>
<h1 class="reset">Change your password</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
<%= devise_error_messages! %>
<%= f.hidden_field :reset_password_token %>

<div class="field">
</div>
<div id="form-main">
  <div id="form-div">
    <form class="form" id="form1">
      <p class="password">
        <input for="user_password" name="user[password]" type="password" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="New Password" id="user_password" />
      </p>
      <p class="password">
        <input for="user_password" name="user[password_confirmation]" type="password" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Confirm Password" id="user_password" />
      </p>
      <div class="submit">
        <input type="submit" value="REGIST" id="button-blue"/>
        <div class="ease"></div>
      </div>
    </form>
  </div>
</div>
<% end %>

