<%= stylesheet_link_tag "session" %>

<h1>Picture Blog</h1>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div id="form-main">
  <div id="form-div">
    <form class="form" id="form1">
     <p class="email">
      <input for="user_email" name="user[email]" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Email" id="user_useremail" />
    </p>
    <p class="password">
      <input for="user_password" name="user[password]" type="password" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Password" id="user_password" />
    </p>
    <div class="submit">
      <input type="submit" value="LOG IN" id="button-blue"/>
      <div class="ease"></div>
    </div>
  </form>
</div>
<% end -%>


