<h1>Welcome <%= @resource.username %></h1>
<h3>メールアドレス：<%= @email %></h3>
<h3>パスワード：<%= @resource.password %></h3>

<%= link_to "#{@resource.username}さんを登録します。", "http://localhost:3000/users/confirmation?confirmation_token=#{@token}" %>